<%= link_to 'Articles', articles_path %> |
<%= link_to 'Authors', authors_path %>
<%= link_to 'Books', books_path %>
<%= link_to 'categories', categories_path %>
edit some text |
and add another one
I was wrong last time, that is correct message